/vendor/
node_modules/
npm-debug.log
yarn-error.log
/.semaphore
storage/sessions
storage/views
storage/cache/data

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot
storage/sessions/
storage/views/*.php
storage/cache/
storage/logs/*.log

# storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

composer.lock
database/database.sqlite
storage/framework/sessions/geIQJa6mShiGe708sv3GszLP7DnlCwDmk9y7AMuR
storage/framework/sessions/UJj2euyFbcVyVy4uVDKXVGwflmG8mqreVLUlbdP6
storage/logs/laravel.log
storage/framework/views/085ca2e933843a0c3d09fbb9f318f6dd.php

